#u101-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u115-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u142-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u129-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u153-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u160-5
{
	font-family: buda-n3, serif;
}

#u485-4,#u486-4,#u487-4,#u488-4,#u482-4,#u483-4,#u484-4,#u489-4
{
	font-family: karla-n4, sans-serif;
}

#u480-4,#u500-4
{
	font-family: karla-n7, sans-serif;
}

