#menuu89
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u75,#u97,#u100
{
	background-color: transparent;
	position: relative;
}

#u100:hover
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #E6E6E6;
	border-radius: 29px;
}

#u100:active
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #969696;
	border-radius: 29px;
}

#u101-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #505050;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u100:hover #u101-4 p
{
	color: #000000;
	visibility: inherit;
}

#u100:active #u101-4 p
{
	color: #000000;
	visibility: inherit;
}

#u111,#u112
{
	background-color: transparent;
	position: relative;
}

#u112:hover
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #E6E6E6;
	border-radius: 29px;
}

#u112:active
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #969696;
	border-radius: 29px;
}

#u115-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #505050;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u112:hover #u115-4 p
{
	color: #000000;
	visibility: inherit;
}

#u112:active #u115-4 p
{
	color: #000000;
	visibility: inherit;
}

#u124,#u127
{
	background-color: transparent;
	position: relative;
}

#u127:hover
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #E6E6E6;
	border-radius: 29px;
}

#u127:active
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #969696;
	border-radius: 29px;
}

#u129-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #505050;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u127:hover #u129-4 p
{
	color: #000000;
	visibility: inherit;
}

#u127:active #u129-4 p
{
	color: #000000;
	visibility: inherit;
}

#u137,#u140
{
	background-color: transparent;
	position: relative;
}

#u140:hover
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #E6E6E6;
	border-radius: 29px;
}

#u140:active
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #969696;
	border-radius: 29px;
}

#u142-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #505050;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u140:hover #u142-4 p
{
	color: #000000;
	visibility: inherit;
}

#u140:active #u142-4 p
{
	color: #000000;
	visibility: inherit;
}

#u150,#u151
{
	background-color: transparent;
	position: relative;
}

#u151:hover
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #E6E6E6;
	border-radius: 29px;
}

#u151:active
{
	-pie-box-shadow: 6px 6px 8px #D2D2D2;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.35);
	background-color: #969696;
	border-radius: 29px;
}

#u100.MuseMenuActive,#u112.MuseMenuActive,#u127.MuseMenuActive,#u140.MuseMenuActive,#u151.MuseMenuActive
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	border-radius: 0px;
}

#u153-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #505050;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u151:hover #u153-4 p
{
	color: #000000;
	visibility: inherit;
}

#u151:active #u153-4 p
{
	color: #000000;
	visibility: inherit;
}

#u100.MuseMenuActive #u101-4 p,#u112.MuseMenuActive #u115-4 p,#u127.MuseMenuActive #u129-4 p,#u140.MuseMenuActive #u142-4 p,#u151.MuseMenuActive #u153-4 p
{
	color: #505050;
	visibility: inherit;
	text-decoration: underline;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u164
{
	background-color: #C8C8C8;
}

#u159
{
	background-color: #464646;
}

#u159_align_to_page
{
	position: relative;
}

#u160-5
{
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #F1B421;
	font-family: buda, serif;
	font-weight: 300;
	position: relative;
}

#u160-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u160
{
	line-height: 29px;
}

#u160-2
{
	font-size: 18px;
	line-height: 22px;
}

