.version.products /* version checker */
{
	color: #0000FC;
	background-color: #F8D69D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 1468px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu75
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u75
{
	z-index: 2;
	width: 187px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 100px;
}

#menuu89
{
	z-index: 4;
	width: 614px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 566px;
}

#u97
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
}

#u100
{
	width: 121px;
	padding-bottom: 12px;
}

#u100:hover
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u100:active
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u101-4
{
	width: 121px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u100:hover #u101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u100:active #u101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u111
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 123px;
}

#u112
{
	width: 121px;
	padding-bottom: 12px;
}

#u100.MuseMenuActive,#u112:hover
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u112:active
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 121px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u100.MuseMenuActive #u101-4,#u112:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u112:active #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u137
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 246px;
}

#u140
{
	width: 121px;
	padding-bottom: 12px;
}

#u112.MuseMenuActive,#u140:hover
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u140:active
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u142-4
{
	width: 121px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u112.MuseMenuActive #u115-4,#u140:hover #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u140:active #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u124
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 369px;
}

#u127
{
	width: 121px;
	padding-bottom: 12px;
}

#u140.MuseMenuActive,#u127:hover
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u127:active
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u127.MuseMenuActive
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u129-4
{
	width: 121px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u140.MuseMenuActive #u142-4,#u127:hover #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u127:active #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u127.MuseMenuActive #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u150
{
	width: 122px;
	min-height: 34px;
	margin-right: -10000px;
	left: 492px;
}

#u151
{
	width: 122px;
	padding-bottom: 12px;
}

#u151:hover
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u151:active
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u151.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u153-4
{
	width: 122px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u151:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u151.MuseMenuActive #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u164
{
	z-index: 41;
	height: 2px;
}

#u164-bw
{
	z-index: 41;
	margin-top: 110px;
	height: 2px;
}

#u592
{
	z-index: 42;
	height: 700px;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	background: transparent url("../images/background%206.jpg") no-repeat left top;
	background-size: cover;
}

#u592-bw
{
	z-index: 42;
	height: 700px;
}

#u159
{
	z-index: 35;
	min-height: 57px;
	padding-bottom: 20px;
}

#u159_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1080px;
	left: -100px;
}

#u160-5
{
	z-index: 36;
	width: 1280px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 23px;
}

#u159-bw
{
	z-index: 35;
	min-height: 57px;
	margin-bottom: -37px;
	margin-top: 1428px;
}

body
{
	position: relative;
	min-width: 1080px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1428px;
}

